# **Урок 2.2 Списки. Методы списков**

## **1. Списки**

**Список (list)** — это упорядоченный набор объектов, хранящихся в одной переменной. В отличие от массивов в других языках, у списков нет никаких ограничений на тип переменных, поэтому в них могут храниться разные объекты, в том числе и другие коллекции. 
Значения, входящие в список, называются элементами.

Пример списка:

In [33]:
a0 = [9]
a0 += [1, 2]
print(a0)
a = ["Ivan", 9, 8.41, True, [1, 2, 5]]
b = [['Anna', 4.4], ['Georg', 4.2]] # cписок внутри другого списка называют вложенным.

[9, 1, 2]

Есть несколько способов создать новый список:
1. простейший из них — заключить элементы в квадратные скобки, `[` и `]`:

In [ ]:
a = ['list', 'tuple', 'dict', 'set']

In [ ]:
b = [10, 20, 30, 40]

2. инициировать новый список пустым списком `[]` или функцией list(), а затем добавить элементы с помощью сложения (см. пример):

In [ ]:
empty = []

In [ ]:
empty = list()

In [ ]:
my_list = [None] * 10

In [3]:
aaa = [0]*10
print(aaa)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

3. вернуть с помощью строкового метода `split()`:

In [6]:
my_list = 'I like Python'.split()
print(my_list)

['I', 'like', 'Python']

In [7]:
my_list = input().split()
print(my_list)

d.lkfjnglkdhngh kldhgkl hbdkfg khdfgk bdklfgb kdhfgk lhdkfg hd
['d.lkfjnglkdhngh', 'kldhgkl', 'hbdkfg', 'khdfgk', 'bdklfgb', 'kdhfgk', 'lhdkfg', 'hd']

In [13]:
a = []
for i in range(10):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
a = [x for x in range(10)]
print(a)
b = [x**2 for x in a]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### **Внимание!**
**Операция a = b (если a и b списки) не приведёт к созданию нового списка, а только нового указателя на старый список! Так как список - изменяемый объект**

In [10]:
a = [1, 2, 3, 4]
b = a
print(a, b)
a[0] += 10
print(a, b)

[1, 2, 3, 4] [1, 2, 3, 4]
[11, 2, 3, 4] [11, 2, 3, 4]

## **2. Доступ к элементам. Индексы и срезы списков**

Чтобы обратиться к конкретному элементу списка, используется тот же механизм, что и для строк (оператор `[]`). Нумерация элементов начинается с нуля.

In [17]:
a = ['list', 'tuple', 'dict', 'set']
print(a)
print(a[0])
print(a[-1]) # если индекс отрицательный, то счет идет с конца списка

['list', 'tuple', 'dict', 'set']
list
set

В качестве индекса можно использовать любое целочисленное выражение:

In [ ]:
numbers = [17, 123]
numbers[9-8]

Списки - изменяемый тип данных, поэтому можно перезаписать любой элемент списка с помощью присваивания:

In [ ]:
a = ['list', 'tuple', 'dict', 'set']
a[3] = 'frozenset'
print(a)

При попытке обратиться к несуществующему индексу, возникнет ошибка.

In [ ]:
a[6]

IndexError: ignored

Из списков можно формировать срезы `my_list[start:stop:step]`, как из строк. Используя срез, можно изменить несколько элементов сразу:

In [9]:
friends = ["Olga", "Sasha", "Inna", "Vasya", "Petya", "Alla"]
print(friends[2:5])
print(friends[:3])

['Inna', 'Vasya', 'Petya']
['Olga', 'Sasha', 'Inna']

In [11]:
# заменить значение в середине списка
friends[1] = "John"
print(friends)
friends[2:4] = ["Hanna", "Anna"]
print(friends)

['Olga', 'John', 'Inna', 'Vasya', 'Petya', 'Alla']
['Olga', 'John', 'Hanna', 'Anna', 'Petya', 'Alla']

In [12]:
# удалить значение
del(friends[5]) # удалим 'Alla'
print(friends)
del(friends[0:2])
print(friends)

['Olga', 'John', 'Hanna', 'Anna', 'Petya']
['Hanna', 'Anna', 'Petya']

### Пример 1.
Составим список из первых 10 четных натуральных чисел. Заменим третий элемент этого списка на число 100. Выделим из списка каждый второй элемент

In [18]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
even[3] = 100
print(even)
print(f'Элементы списка с четными индексами: {even[::2]}')

[0, 2, 4, 100, 8, 10, 12, 14, 16, 18]
Элементы списка с четными индексами: [0, 4, 8, 12, 16]

### Пример 2.
Вводится строка из чисел, отделенных знаком ';'. Составим список из этих чисел.

In [11]:
n = input().split(';')
print(f'список с элементами в виде текста {n}')
for i in range(len(n)): # преобразуем их в числа int.
    print(n[i])
    n[i] = int(n[i])
    print(n[i])
print(f'список с элементами в виде чисел {n}')

1;2;3;45;67;8
список с элементами в виде текста ['1', '2', '3', '45', '67', '8']
1
1
2
2
3
3
45
45
67
67
8
8
список с элементами в виде чисел [1, 2, 3, 45, 67, 8]

### Пример 3.
Составим список из элементов списка n, меньше 10.

In [13]:
n = [1, 3, 69, 0, 45, 3]
n_less_10 = []
for elem in n:
    if elem < 10:
        n_less_10.append(elem)
print(n_less_10)

[1, 3, 0, 3]

In [58]:
n = [1, 3, 69, 0, 45, 3]
n_less_10 = [elem for elem in n if elem < 10]
print(n_less_10)

[1, 3, 0, 3]

### Пример 4.
Составим список из квадратов элементов списка n.

In [14]:
n = [1, 3, 69, 0, 45, 3]
n_squared = []
for elem in n:
    n_squared += [elem ** 2]
print(n_squared)

[1, 9, 4761, 0, 2025, 9]

In [26]:
a = [1, 2, 3]
b = a.copy()
print(a, b)
a[0] += 1
print(a, b)

[1, 2, 3] [1, 2, 3]
[2, 2, 3] [1, 2, 3]
[]

## **3. Методы списков**
**append** добавляет элемент в конец списка

**copy** возвращает копию списка

**clear** удаляет все элементы из списка

**count(x)** возвращает число элементов, равных $x$ в списке

**extend(x)** добавляет список $x$ в конец списка

**index(x)** возвращает номер первого вхождения $x$ в список, можно указать с какого по какой номер в списке искать $x$ (как в find у строк)

**insert(i, x)** вставляет в список на место $i$ элемент $x$

**pop(i)** возвращает элемент списка и удаляет его из списка

**remove(x)** удаляет первое вхождение элемента $x$ из списка

**reverse** разврачивает список задом-наперед

**sort** сортирует список



---

**del** удаляет элемент(ы) из списка

**min** возвращает минимальный элемент списка

**max** возвращает максимальный элемент списка

---

**join()** превращает список в строку (элементы должны быть типа str)

In [40]:
a = [1, 2, 1, 2, 3, 4, 5, 6]
b = [x for x in a if x != 1]
print(b)

[2, 2, 3, 4, 5, 6]

In [27]:
a = [1, 2, 3, 6, 4, 10]
a.reverse()
print(a)
a.sort()
print(a)

[10, 4, 6, 3, 2, 1]
[1, 2, 3, 4, 6, 10]

In [38]:
a = [1, 2, 3, 4]
del(a[3])
print(b)

a = [1, 2, 3, 4, 4]
a.remove(4)
print(a)

[['Anna', 4.4], ['Georg', 4.2]]
[1, 2, 3, 4]

TypeError: '<' not supported between instances of 'str' and 'int'

### Добавить элемент в конец списка (**append()**)

In [30]:
friends = ["Olga", "Sasha", "Inna", "Vasya", "Petya", "Alla"]
friends.append('Olga')
print(friends)
friends.append(['Alex', 'Dima']) # при добавлении списка или строки в конец , добавляется, как один элемент
print(friends)

['Olga', 'Sasha', 'Inna', 'Vasya', 'Petya', 'Alla', 'Olga']
['Olga', 'Sasha', 'Inna', 'Vasya', 'Petya', 'Alla', 'Olga', ['Alex', 'Dima'], 'Alex', 'Dima']

### Добавить второй список в конец первого (**extend()**)

In [22]:
numbers = [1, 2, 3, 4, 5]
friends.extend(numbers)
print(friends)

['Olga', 'Sasha', 'Inna', 'Vasya', 'Petya', 'Alla', 'Olga', ['Alex', 'Dima'], 1, 2, 3, 4, 5]

### Добавить элемент в середину списка (**insert()**)

In [23]:
friends.insert(1, "Kelly")
print(friends)

['Olga', 'Kelly', 'Sasha', 'Inna', 'Vasya', 'Petya', 'Alla', 'Olga', ['Alex', 'Dima'], 1, 2, 3, 4, 5]

### Удалить первое вхождение элемента из списка (**remove()**)

In [24]:
friends.remove("Olga")
print(friends)

['Kelly', 'Sasha', 'Inna', 'Vasya', 'Petya', 'Alla', 'Olga', ['Alex', 'Dima'], 1, 2, 3, 4, 5]

### Очистить список (**clear()**)

In [25]:
friends.clear()
print(friends)

[]

### Вернуть элемент, удалив его из списка (**pop()**)

In [31]:
friends = ["Olga", "Sasha", "Inna", "Vasya", "Petya", "Alla"]
name = friends.pop(2)
print(name)
print(friends)

Inna
['Olga', 'Sasha', 'Vasya', 'Petya', 'Alla']

### Узнать позицию элемента (**index()**)

In [28]:
friends.index("Inna")

1

### Частота упоминания элемента (**count()**)

In [29]:
friends.count("Sasha")

0

### Отсортировать список (**sort()**)

Для сортировки списка в Python есть два способа: стандартная функция <b>sorted</b>, которая возвращает новый список, полученный сортировкой исходного, и метод списка <b>.sort()</b>, который сортирует in-place (не возвращает новый список, а изменяет исходный).

In [30]:
friends.sort()
print(friends)
friends.sort(reverse = True) # по убыванию
print(friends)

['Alla', 'Inna', 'Olga', 'Petya', 'Vasya']
['Vasya', 'Petya', 'Olga', 'Inna', 'Alla']

### Развернуть список (**reverse()**)

In [31]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n.reverse()
print(n)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Скопировать список(**copy()**)

In [32]:
friends2 = friends.copy()
print(friends2)

['Vasya', 'Petya', 'Olga', 'Inna', 'Alla']

### Превратить список в строку (**join()**)

In [33]:
s = "-".join(friends)
print(s)

Vasya-Petya-Olga-Inna-Alla

## **4. Списочные выражения**

Для создания списка, заполненного одинаковыми элементами, можно использовать оператор повторения списка, например:

In [55]:
a = []
for i in range(10):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
a = [x**2 for x in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Для генерации списков из неповторяющихся элементов в Python имеется удобная синтаксическая конструкция — **списочное выражение** (list comprehension). Она позволяет создавать элементы списка в цикле for, не записывая цикл целиком.

> **[выражение for переменная in список]**,  где

*переменная* — идентификатор некоторой переменной, 

*список* — список значений, который принимает данная переменная (как правило, полученный при помощи функции range), 

*выражение* — некоторое выражение, которым будут заполнены элементы списка, как правило, зависящее от использованной в генераторе переменной.

Вот несколько примеров использования генераторов:
> [i ** 2 for i in range(5)]

В списочном выражении можно использовать список вместо range:

>[i * 2 for i in ['a', 'ba', 'abc']]

Можно использовать вложенные циклы и условный оператор:

>[i + j for i in [1, 4, 5] for j in range(6) if i + j < 8]

Можно создать список на основе какого-нибудь другого перечислимого типа с помощью функции list(),  например

>[i for i in list('absdf')]

создает список ['a', 'b', 's', 'd', 'f'].

In [8]:
a = [i ** 2 for i in range(5)]
print(a)
b = []
for i in range(5):
    b.append(i**2)
print(b)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

In [9]:
a = [i * 2 for i in ['a', 'ba', 'abc']]
print(a)

['aa', 'baba', 'abcabc']

Вот так можно получить список, заполненный случайными числами от 1 до 9 (используя функцию randint из модуля random):

In [36]:
from random import randint
a = [randint(1, 9) for i in range(5)]
print(a)

[4, 2, 9, 4, 3]

А в этом примере список будет состоять из строк, считанных со стандартного ввода: сначала нужно ввести число элементов списка (это значение будет использовано в качестве аргумента функции range), потом — заданное количество строк:

In [40]:
a = [input() for i in range(int(input()))]
print(a)

3
1
2
3
['1', '2', '3']

### Создать список квадратов целых нечетных чисел (способ 1)

In [ ]:
a = []
for i in range(10):
  if i % 2 != 0:
    a.append(i ** 2)
print(a)

### Тот же пример, но с использованием списочного выражения (способ 2):

In [ ]:
a = [i ** 2 for i in range(10) if i % 2 != 0]
print(a)

### Пример 5.
Найдем номер последнего вхождения числа 3 в список [1, 2, 3, 4, 3, 6, 3, 7]

In [42]:
a = [1, 2, 3, 4, 3, 6, 3, 7]
a_end = a.copy() # не используем присваивание, так как это создает новый указатель на список, а не физическую копию!
a_end.reverse()
i = a_end.index(3)
i = len(a) - i - 1
print(i)

6

### Пример 6. 
Составим список из НОД натуральных чисел от 2 до 6 включительно, первое число меньше второго. Элементами списка будут списки, состоящие из чисел и их НОД.

In [43]:
from math import gcd

In [51]:
gcd_2_6 = [[i, j, gcd(i, j)] for i in range(2, 7) for j in range(i + 1, 7)]
gcd_2_6

[[2, 3, 1],
 [2, 4, 2],
 [2, 5, 1],
 [2, 6, 2],
 [3, 4, 1],
 [3, 5, 1],
 [3, 6, 3],
 [4, 5, 1],
 [4, 6, 2],
 [5, 6, 1]]

### Пример 7.
Добавим в список gcd_2_6 элемент [5, 7], затем найдем номер вхождения [3, 6] и удалим этот элемент.

In [52]:
gcd_2_6.append([5, 7, gcd(5, 7)])
i = gcd_2_6.index([3, 6, gcd(3, 6)])
print(i)
del gcd_2_6[i]
gcd_2_6

6

[[2, 3, 1],
 [2, 4, 2],
 [2, 5, 1],
 [2, 6, 2],
 [3, 4, 1],
 [3, 5, 1],
 [4, 5, 1],
 [4, 6, 2],
 [5, 6, 1],
 [5, 7, 1]]

In [2]:
s = input()
"""
    Заметим, что и "кошка", и "Алёнка" - существительные женского рода первого числа с одинаковыми окончаниями,
    поэтому падежные окончания во всех падежах у них будут одинаковы, то есть можно просто заменить "корни" этих слов
"""
s = s.replace('кошк', 'Алёнк')
print(s)

У меня живет кошка, кошка милая, игривая и очень пушистая. Мы забрали кошку из приюта, когда кошке было 3 месяца. Любимая игра кошки - запрыгивать на шкаф.
У меня живет Алёнка, Алёнка милая, игривая и очень пушистая. Мы забрали Алёнку из приюта, когда Алёнке было 3 месяца. Любимая игра Алёнки - запрыгивать на шкаф.

In [10]:
s = input()
eq = s.split('+')
del(eq[len(eq)-1])
ans = []
for a in eq:
    for i in range(len(a)):
        if a[i].isalpha():
            ans.append(a[i:])
            break
print(ans)

14a5+4zzz+175boom5+1024=0
['a5', 'zzz', 'boom5']

In [11]:
s = input()
maximum = 0
tmp = 0
for i in range(len(s)):
    if s[i] == 'C':
        tmp += 1
        maximum = max(maximum, tmp)
    else:
        tmp = 0
print(maximum)

BACBBCAAABAABBCBCCABACCAAABCCBACACBCCCBBCACBACBBABBAACCABAACCBACABCCA
3

In [ ]:
s = input()
c = 'C'
while c in s:  # ищем CC, потом CCC и т.д
    c += 'C'
print(len(c) - 1)  # минус 1, чтобы убрать лишнюю (последнюю добавленную С)

In [ ]:
s = input()
maximum = 0
tmp = 0
for i in range(len(s)):
    if s[i] in 'BCDF':
        tmp += 1
        maximum = max(maximum, tmp)
    else:
        tmp = 0
print(maximum)

In [12]:
s1 = input()
s2 = input()
while s1[-1].lower() == s2[0].lower():
    s1 = s2
    s2 = input()
print(s2)

Москва
Архангельск
Тула\
Тула\

In [16]:
sities = [input() for i in range(int(input()))]
count = 0
for i in sities:
    if sities.count(i) > 1:
        count += 1
print(count)

6
Москва
Калуга
Орск
Орск
Омск
Омск
4