## **Урок 2.1 Строки. Срезы. Методы строк**

In [9]:
a = [1, 2374, 93485794, "94371238761237", [29347, 'gdghdigh']]#list
a.append(4)

print(a[3])
print(a)

94371238761237
[1, 2374, 93485794, '94371238761237', [29347, 'gdghdigh'], 4]

### **1. Строки в Python**

Строка состоит из последовательности символов:

'Текст в виде строки. Можно использовать цифры и другие символы, но не всякие.'

или так:

"1 + 2 = 3 - my text."

Тип строки str.
В языке Python нет отдельного символьного типа. Символ — это просто строка длины 1.

Можно преобразовать число в строку: str(5)

In [64]:
my_str = '1 + 2 = 3 - my text'
print(type(my_str))
print(type(my_str[6]))

<class 'str'>
<class 'str'>

In [10]:
# Длина строки 
my_str = '1 + 2 = 3 - my text'
print(len(my_str))

19

### **2. Индексация строк**

По индексу можно получить соответствующий ему символ строки. Для этого нужно после самой строки написать в квадратных скобках индекс символа.

### Обращение к элементу строки my_str[i]

In [2]:
word = 'привет'
print(word[0])
print(word[3])

п
в

Если попытаться получить букву, номера которой нет, Python выдаст ошибку

In [3]:
print(word[6])

IndexError: string index out of range

В квадратных скобках можно указывать не только фиксированное число, но и считать его с клавиатуры или получить в результате арифметического действия.

In [7]:
word = 'привет'
print(word[int(input())])

3
в

<b>Отрицательные индексы</b>

В Python разрешены отрицательные индексы: word[-1] означает последний символ строки word, word[-2] — предпоследний и т д.

In [11]:
word = 'Привет, Андрей!'
print(word[len(word)-1])
print(word[-1])

!
!

### Важно!

In [14]:
a = [5827, 4375958, 943857534]
print(a)
a[0] = 2
print(a)

[5827, 4375958, 943857534]
[2, 4375958, 943857534]

Так как в Python строки - это неизменяемый тип данных, изменить отдельный символ строки невозможно:

In [1]:
word = 'малоко'
word[1] = 'о'
print(word)

TypeError: 'str' object does not support item assignment

### **3. Перебор элементов строки**

Оператор <b>in</b> позволяет проверить наличие подстроки в строке, а также итерировать по строке.

In [16]:
print('3.14' in 'Число Пи = 3.1415926')

True

In [17]:
text = 'Лень — главное достоинство программиста. (Larry Wall)'
vowels = 0
for i in text:
    if i in ['a', 'e', 'i', 'o', 'u', 'y']:
        vowels += 1
print(vowels)

3

Так как символы в строке пронумерован, можно перебирать их с помощью for .. in ..range()

In [8]:
text = 'Лень — главное достоинство программиста. (Larry Wall)'
vowels = 0
for i in range(len(text)): # 0, ..., n-1
    if text[i] in 'aeiouy':
        vowels += 1
print(vowels)

3

### **4. Юникод. Хранение текстов в памяти компьютера**

Поскольку компьютер умеет хранить только двоичные числа, для записи нечисловой информации используются кодовые таблицы -  ASCII, Unicod и др.

Изначально в таблице каждому символу был поставлен в соответствие 7-битный код, что позволяло идентифицировать 128 различных символов. 

Этого хватало на латинские буквы обоих регистров, знаки препинания и спецсимволы — например, перевод строки или разрыв страницы. Позже код расширили до 1 байта, что позволяло хранить уже 256 различных значений: в таблицу помещались буквы второго алфавита (например, кириллица) и дополнительные графические элементы (псевдографика).

В некоторых относительно низкоуровневых языках (например, в С) можно в любой момент перейти от представления строки в памяти к последовательности байтов, начинающейся по какому-либо адресу.

Сейчас однобайтные кодировки отошли на второй план, уступив место <b>Юникоду</b>.

Юникод содержит соответствия между числом и каким-либо знаком, причем количество знаков может быть любым. Это позволяет одновременно использовать любые символы любых алфавитов и дополнительные графические элементы. Кроме того, в Юникоде каждый символ, помимо кода, имеет некоторые свойства: например, буква это или цифра. Это позволяет более гибко работать с текстами.

В Юникод все время добавляются новые элементы, а сам размер этой таблицы не ограничен и будет только расти, поэтому сейчас при хранении в памяти одного юникод-символа может потребоваться от 1 до 8 байт. Отсутствие ограничений привело к тому, что стали появляться символы на все случаи жизни. Например, такой:)

In [18]:
print('\u2603')

☃

### Функции ord и chr

<ul>
    <li> <b>ord</b> - возвращает код символа(от order — «порядок»).</li>
    <li> <b>chr</b> - возвращает по коду соответствующий ему символ.</li>
</ul>

In [10]:
for i in range(26):
    print(chr(ord('A') + i), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

### **5. Конвертация типов**

К строкам можно применить конвертацию типов. Например, мы можем преобразовать вещественное число в переменную типа str:

In [67]:
num = 999.01
num_string = str(num)
print(type(num_string))
print(num_string)
print(num)

<class 'str'>
999.01
999.01

### **6. Срезы**

Кроме перебора элементов с помощью цикла for ..in ..range() взять отдельный ее кусок, символы с нечетными номерами и т.д. можно с помощью срезов (slice).

<b>Срез строки</b>

В самом простом варианте срез строки — ее кусок от одного индекса включительно и до другого не включительно (как для range). То есть это новая, более короткая строка.

Срез записывается с помощью квадратных скобок, в которых указывается начальный и конечный индекс, разделенные двоеточием.

In [14]:
text = 'Hello, world!'
print(text[0:5])
print(text[7:12])

Hello
world

Если не указан начальный индекс, срез берется от начала (от 0). Если не указан конечный индекс, срез берется до конца строки.

In [13]:
text = 'Hello, world!'
print(text[:5]) # range(n) 0, ..., n-1
print(text[7:])

Hello
world!

Разрешены отрицательные индексы для отсчета с конца списка.

In [16]:
name = 'Иванов И. И.'
print(name[:-6])

Иванов

Как и для <b>range</b>, в параметры среза можно добавить третье число — шаг обхода. Этот параметр не является обязательным и записывается через второе двоеточие.

Шаг может быть и <b>отрицательным</b> — для прохода по строке в обратном порядке. Если в этом случае не указать начальный и конечный индекс среза, ими станут последний и первый индексы строки соответственно (а не наоборот, как при положительном шаге):

In [24]:
text = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
print(text)
text = text[::-1]
print(text)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZYXWVUTSRQPONMLKJIHGFEDCBA

### Пример 1.
Из строки '1234567890abcdefghij' выделить каждый второй символ, начиная с 3-го (нумерация с 0) и до 17-го (не включая).

In [21]:
my_str = '01234567890abcdefghij'
my_str[3:12:2]

'3579a'

### Пример 2.
Из строки '1234567890abcdefghij' выделим все символы до 15-го (не включая).

In [17]:
my_str[:15]

'1234567890abcde'

### Пример 3.
Из строки '1234567890abcdefghij' выделим все символы, начиная с 15-го.

In [18]:
my_str[15:]

'fghij'

### Пример 4. 
Из строки '1234567890abcdefghij' выделим все символы с четными номерами (нумерация с 0, считаем 0 четным числом). Приходится явно указывать знаки ':'

In [19]:
my_str[::2]

'13579acegi'

### Пример 5.
Выведем на экран через пробел все возможные последовательные 10 символов строки.

In [26]:
for i in range(len(my_str) - 9):
    print(my_str[i:i + 10], end='\n')

0123456789
1234567890
234567890a
34567890ab
4567890abc
567890abcd
67890abcde
7890abcdef
890abcdefg
90abcdefgh
0abcdefghi
abcdefghij

## Методы строк:
https://docs.python.org/3/library/stdtypes.html#string-methods

### find 
ищет подстроку в строке. В случае нахождения - возвращает первое вхождение, под которым была найдена подстрока. В случае если подстрока не найдена - возвращает -1. Значение подстроки чувствительно к регистру. Можно задать облать поиска внутри строки, передав вторым и третьим аргументом значения начала среза для поиска и конца среза для поиска.

Если нужно искать от некоторой позиции до конца строки, то указывается только второй аргумент!

'This is Python. Python is my favorite language to work with'.find('is', 5, 10) ищет первое вхождение строки  is в строке Python is my favorite language to work with начиная с пятого символа и до десятого, не включая десятый, возвращает номер первого символа строки is в строке, т.е. 5. Если не задавать область поиска, то получится 2.
Существует и брат близнец метода find - rfind. Работает он так же, но с одним отличаем - он возвращает последнее вхождение под которым была найдена подстрока.
'This is Python. Python is my favorite language to work with'.rfind('is'). Возвращает 23.

### replace 
заменяет одну строку на другую. Первым параметром - то что заменяем, а вторым то на что заменяем, исходная строка не изменяется. 

Если третьим аргументом передано число, то выполняется только такое число замен.

Например,

'This is Python. Python is my favorite language to work with'.replace('is', '0') возвращает 
'Th0 0 Python. Python 0 my favorite language to work with', а если указать, что нужно выполнить только одну замену, т.е. 'This is Python. Python is my favorite language to work with'.replace('is', '0', 1), то получим 'Th0 is Python. Python is my favorite language to work with'.

### split
разбирает строку, по указанному разделителю sep (необязательный аргумент метода split, по умолчанию пробел) и возвращает результат списком. Можно задать максимальное число разбиений.

### isdigit
возвращает True, если все символы строки цифры, причем строка не пустая, иначе возвращает False.

Например, '12345'.isdigit() True, '1e'.isdigit() False.

### isalpha
возвращает True, если все символы строки буквы, причем строка не пустая, иначе возвращает False.

Например, 'absd'.isalpha() True, '1e'.isalpha() False.

### upper
работает с регистром строк, возвращает исходную строку в верхнем регистре, исходная строка не изменяется.
### lower
работает с регистром строк, возвращает исходную строку в нижнем регистре, исходная строка не изменяется.
### capitalize 
переводит первый символ строки в верхний регистр, а все остальные - в нижний.

### count
подсчитывает количество вхождений одной строки в другую строку. Простейшая форма вызова 'Abracadabra'.count('a') возвращает число вхождений строки 'a' внутри строки 'Abracadabra'.  Подсчитывает только непересекающиеся вхождения, например: 'Abracadabra'.count('a') возвращает 4
При указании трех параметров 'Abracadabra'.count('a', 4, 10), будет выполнен подсчет числа вхождений строки 'a' в срезе [4:10] строки 'Abracadabra'

## Пример 1. find

Вводится строка из букв и цифр, программа выводит на экран позиции цифр в строке.

In [29]:
a = input()
b = int(a)
count = 0
for i in range(len(a)):
    if b % 10 == 1:
        count += 1
    b //= 10
print(count)

102741928739172319
4

In [32]:
s = input()
print(s.count('12'))

1232123123123131212123333312321
8

In [1]:
s = input()
for i in range(10):
    print(i, ':',s.find(str(i)))

abra123cadabra876
0 : -1
1 : 4
2 : 5
3 : 6
4 : -1
5 : -1
6 : 16
7 : 15
8 : 14
9 : -1

Программа вывела -1 для цифр, которые не встретились во введенной строке. Перепишем, чтобы отсутствующие цифры не выводились:

In [3]:
s = input()
for i in range(10):
    number = s.find(str(i))
    if number != -1:
        print(i, ':', number)

abra123cadabra123
1 : 4
2 : 5
3 : 6

Можно заметить, что метод find для цифр 1, 2, 3 нашел только первое вхождение, так как поиск прекращается, как только найден нужный символ.

Рекомендуется использовать find только в том случае, если нужно определить позицию символа. Если требуется только узнать, есть ли такой символ в строке, нужно пользоваться in

In [4]:
s = input()
for i in range(10):
    if str(i) in s:
        print(i, end=' ')

abra123cadabra123
1 2 3

Можно искать только в части строки:

In [6]:
s.find('cadabra', 5, -1)

7

## Пример 2. replace
Вводится строка из букв и цифр, программа заменяет цифры на точки и выводит на экран результат.

In [7]:
s = input()
for i in range(10):
    s = s.replace(str(i), '.')
print(s)

abra123cadabra123
abra...cadabra...

## Пример 3. replace
Вводится строка из букв и цифр, программа заменяет первое вхождение каждой цифры на соответствующее цифре число точек и выводит на экран результат.

In [9]:
s = input()
for i in range(10):
    s = s.replace(str(i), '.' * i, 1)
print(s)

abra1cadabra2авра3кадавра4
abra.cadabra..авра...кадавра....

## Пример 4. split
Представить в виде списка строк текст: 'One;two;three;four;five'  Разделители строк ';'

In [10]:
'One;two;three;four;five'.split(sep=';')

['One', 'two', 'three', 'four', 'five']

Зададим максимальное число разбиений 2.

In [12]:
'One;two;three;four;five'.split(sep=';', maxsplit=2)

['One', 'two', 'three;four;five']

## Пример 5. isdigit, isalpha, upper, capitalize
По строке 'One1two2three3four4five5' построим две новые строки, первая состоит только из букв строки, записанных в верхнем регистре, а вторая строка состоит из цифр.

In [54]:
s = 'One1two2three3four4five5'.upper()
print(s)
first = ''
second = ''
for i in s:
    if i.isalpha():
        first += i 
    elif i.isdigit():
        second += i
print(first, second)

ONE1TWO2THREE3FOUR4FIVE5
ONETWOTHREEFOURFIVE 12345

In [1]:
a = input()
b = int(input())
if (b - len(a)) % 2 == 0:
    a = a[0] * (x // 2) + a + a[-1] * (x // 2)
else:
    a = a[0] * (x // 2) + a + a[-1] * (x // 2)
    a = a + '.'
print(a)

dfnglkdnglknd
123

NameError: name 'x' is not defined